# Pandas Get Column Names

Get the dataframe column names by iterating over columns, using `dataframe.columns` and using `dataframe.columns.values`.

## How to get column names in Pandas dataframe </h1>

In this article, you will be retrieving dataframe column names using -

* Get column names by iterating over columns.
* Get column names using dataframe.columns. 
* Get column names using dataframe.columns.values.

Let's create a dataframe consisting students records.

In [ ]:
# Importing Library
import pandas as pd

# Creating Dataframe
data = {
  "Roll No": [1, 2, 3], 
  "Name": ["A", "B", "C"],
  "Gender": ["M","F","F"],
  "Age": [20,21,20]}
  
df = pd.DataFrame(data)

df

   Roll No Name Gender  Age
0        1    A      M   20
1        2    B      F   21
2        3    C      F   20

## 1.Get column names by iterating over dataframe columns

In [ ]:
# looping over the columns and storing column names in a list.

col_names = []      

for i in df.columns:
  col_names.append(i)

print(col_names)

['Roll No', 'Name', 'Gender', 'Age']

## 2.Get column names using dataframe.columns

In [ ]:
col_names = list(df.columns)

print(col_names)

['Roll No', 'Name', 'Gender', 'Age']

##3.Get column names using dataframe.columns.values

In [ ]:
col_names = list(df.columns.values)

print(col_names)

['Roll No', 'Name', 'Gender', 'Age']

## 4.Practical Tips 

* You can also try using `df.columns.tolist()` method.

* You can also store the column names in tuple instead of list only if you don't want to manipulate the dataframe because tuples are immutable and are faster than list.

## 5.Test Your Knowledge 

__Q1.__ What will be the output of following code ?

`l = df.columns.to_tuple()`

__Ans.__ 

`AttributeError: 'Index' object has no attribute 'to_tuple'.`

You can use `l = tuple(df.columns)` instead.



__Q2.__ What will be the output of following code ? (Consider the above students dataframe)

In [ ]:
list = sorted(list(df.columns))
list

['Age', 'Gender', 'Name', 'Roll No']

Columns are sorted alphabetically in ascending order.