# Set Pandas dataframe background color and font color in Python

Adding Background color and font color in pandas dataframe to present it in well defined manner.

## How to set background color and font color to pandas dataframe

In this article, you will learn how to add background and font color in a dataFrame using - 
* DataFrame style property.
* User-defined Function.
* Seaborn Library.

Let's create a dataframe first.

In [ ]:
# Import libraries
import numpy as np
import pandas as pd

# Create dataframe of Type-1 Diabetes symptoms
df = pd.DataFrame({'Name': ['A','B','C','D'],
                   'Gender': ['M','F','F','M'], 
                   'Fatigue': [0,1,0,1], 
                   'More thirst': [1,np.nan,0,0],
                   'Weight Loss': [1,0,1,1],
                   'Dehydration': [1,0,np.nan,1],
                   'Mood swings': [1,0,1,0]})

# Here M: Male, F: Female, 0: No, 1: Yes
df

  Name Gender  Fatigue  More thirst  Weight Loss  Dehydration  Mood swings
0    A      M        0          1.0            1          1.0            1
1    B      F        1          NaN            0          0.0            0
2    C      F        0          0.0            1          NaN            1
3    D      M        1          0.0            1          1.0            0

## 1.Set background color and font color using DataFrame.style property

Use `df.style.set_properties()` to add background color 
and font color in dataframe.

Let's see the syntax of `df.style.set_properties()`

### df.style.set_properties()

__df.style.set_properties(subset=None, **kwargs)__

__Purpose:__ used to set defined CSS-properties to each `<td>` HTML element within the given subset.

__Parameters:__

__- subset:__ valid slice of data to limit the style of dataframe.

__- **kwargs:__ it is a dictionary of css properties, value pairs to be set for each cell.

__Returns:__ Dataframe with applied properties of styles.

In [ ]:
# Applying df.style.set_properties, setting background color to yellow and font color to red

df.style.set_properties(**{'background-color': 'yellow', 'color': 'red'})

In same way, `df.set_table_styles()` can be used to add background and font colors.

Let's see the syntax of `df.set_table_styles()`.

### df.set_table_styles()

__df.set_table_styles(table_styles, axis=0, overwrite=True)__

__Purpose:__ styling the tables, columns, rows or specific HTML selectors.

__Parameters:__

__- table_styles:__ list that supplies style to table using dictionary with selector and props as keys.

__- axis:__ 0 or ‘index’ applies function to each column. 1 or ‘columns’ applies function to each row.

__- overwrite:__ boolean value type parameters, if set `True` then it will overwrite style property if selectors intersect.

__Returns:__ Dataframe with applied properties of styles.

In [ ]:
# Applying df.set_table_styles, setting background color to black and font color to white

df.style.set_table_styles([{'selector': 'td:not(.index_name)', 'props': [('background-color','black'),('color','white')]}])

`df.style.highlight_null()`  highlights missing or null values in the dataframe.

Let's see the syntax of `df.style.highlight_null()`.

### df.style.highlight_null()

__df.style.highlight_null(null_color='red', subset=None, props=None)__

__Purpose:__ To highlight missing values in the dataframe.

__Parameters:__

__- null_color:__ color for empty blocks, default color is 'red'.

__- subset:__  valid slice of data to limit the style of dataframe.

__- props:__ CSS properties for highlighting missing values.

__Returns:__ Dataframe with applied properties of styles.

In [ ]:
# Highlighting Null Values

df.style.highlight_null()

Similarly, highlighting minimum & maximum values in dataframe using `df.style.highlight_min()` & `df.style.highlight_max()`.

Let's see the syntax of `df.style.highlight_min()` & `df.style.highlight_max()`.

### df.style.highlight_min() and df.style.highlight_max()

__df.style.highlight_min(subset=None, color='yellow', axis=0, props=None)__

__Purpose:__ highlight minimum values in the dataframe.


__df.style.highlight_max(subset=None, color='yellow', axis=0, props=None)__

__Purpose:__ highlight maximum values in the dataframe.


__Parameters:__ 

__- subset:__ valid slice of data to limit the style of dataframe.

__- color:__ color for minimum value block by default it is 'yellow'

__- axis:__ 0 or ‘index’ applies function to each column. 1 or ‘columns’ applies function to each row.

__- props:__ CSS properties for highlighting minimum values.

__Returns:__ Dataframe with applied properties of styles.

In [ ]:
df.style.highlight_min(axis = 0)

In [ ]:
df.style.highlight_max(axis = 0)

## 2.Set background color and font color using User-defined function & applymap function

Defining function `fun()` which will be applied on each block of dataframe.

Let's see the sytax of `df.style.applymap()`.

### df.style.applymap()

__df.style.applymap(func, na_action=None, **kwargs)__

__Purpose:__ used to apply function which accepts and returns scalars for every element of dataframe.

__Parameters:__

 __- func:__ function to be applied on row or column.

__- na_action:__ iterate through dataframe either ignoring `NaN` values without passing them to function.

__- **kwargs:__ To pass arguments to the function.

__Returns:__ Dataframe with applied properties of styles.

In [ ]:
# Defining function `fun` which sets the background color to orange and font color to blue

def fun(val):
  return 'background-color: orange ; color: blue'

df.style.applymap(fun)

## 3.Set background color and font color using Seaborn Library

Seaborn color palette is used to add background and font colors in dataframe.

Let's see the sytax of `df.style.background_gradient()`.

### df.style.background_gradient()

__df.style.background_gradient(cmap='PuBu', low=0, high=0, axis=0, subset=None, text_color_threshold=0.408, vmin=None, vmax=None, gmap=None)__

__Purpose:__ to color the background in a gradient style.

__Parameters:__

__- cmap:__ Matplotlib colormap.

__- low:__ compresses the color range at the low value side.

__- high:__ compresses the color range at the high value side.

__- axis:__ 0 or ‘index’ applies function to each column. 1 or ‘columns’ applies function to each row.

__- subset:__ valid slice of data to limit the style of dataframe.

__- text_color_threshold:__ luminance threshold for determining text color in `[0, 1]`. 

__- vmin:__ minimum data value which corresponds to colormap minimum value.

__- vmax:__ maximum data value which corresponds to colormap maximum value.

__- gmap:__ slope map for determining the background colors.

__Returns:__ dataframe with applied properties of styles.

In [ ]:
# Import library
import seaborn as sns

# Using color palette for gradient fill in DataFrame
# set_precision() will make values limited to 2nd decimal only
df.style.background_gradient(cmap=sns.light_palette("red", as_cmap=True)).set_precision(2)

In [ ]:
# Highlighting null or missing values using color palette
df.style.background_gradient(cmap=sns.light_palette("gold", as_cmap=True)).set_precision(2).highlight_null('red')

In [ ]:
# Assemble Seaborn properties with DataFrame.style property
df.style.background_gradient(cmap=sns.light_palette("yellow", as_cmap=True)).set_precision(2).highlight_null('black').highlight_min(axis=0, color='skyblue').highlight_max(axis=0, color='blue')

## 4.Practical Tips

* Make sure that you are using `applymap()` for user defined functions method.

* Make sure you are using `as_cmap=True` in seaborn functions depending on use.

## 5.Test Your Knowledge

*Note: Use Diabetes dataframe from above to answer the following questions.*

__Q1.__ Spot the error in the following code.

In [ ]:
def fun(val):
  return 'background-color: black color: white'

df.style.applymap(fun)

__Ans.__ Missing `;`. Correct code: `return 'background-color: black ; color: white'`.

In [ ]:
def fun(val):
  return 'background-color: black; color: white'

df.style.applymap(fun)

__Q2.__ Write a code to highlight `NaN` values in dataframe.

In [ ]:
# Method 1
df.style.highlight_null(null_color='red')

In [ ]:
# Method 2
df.style.background_gradient(cmap=sns.light_palette("white", as_cmap=True)).highlight_null('red')

__Q3.__ What to add in ```df.style.set_table_styles()``` to set background color and font color to column headings of dataframe ?

In [ ]:
t = {'selector': 'th:not(.index_name)', 
     'props': [('background-color','black'), ('color','white')]}

df.style.set_table_styles([t])